.ranking{
    text-align: center;
  .title{
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
  }
  .image{
      
  }
  .action{
      margin-top: 50px;
  }
}